#bwall{
width:100%;
height:1140px;
background:linear-gradient(#085265,white);
}

#wall{
width:100%;
height:1130px;
background:linear-gradient(#085265,white);
}
#wal{
width:100%;
height:1500px;
background:linear-gradient(#085265,white);
}
#plac{
width:900px;
height:1470px;
background:linear-gradient(#085265,white);
margin:0px auto;
}
#way1{
width:100%;
height:1280px;
background:linear-gradient(#085265,white);
}
#way2{
width:900px;
height:1280px;
background:#567acd;
margin:0px auto;
}
#place{
width:900px;
height:960px;
background:linear-gradient(#085265,white);
margin:0px auto;
}
#bplace{
width:900px;
height:1140px;
background:#085265;
margin:0px auto;
}

#logo{
width:900px;
height:225px;
background-image:url("../images/logo1.JPG");
}

#links{
width:900px;
height:35px;
background:#677D82;
margin-top:-15px;
}


#box1{
width:580px;		
height:300px;
background:#ccddaa;
}

#box2{
width:320px;
height:450px;
background:#8DBFDF;
float:right;
margin-top:-300px;
}

#box3{
width:320px;
height:150px;
background:#77566a;
float:right;
margin-left:320px;
}

#box4{
width:580px;
height:300px;
background:#ccddaa;
}
#box4a{
width:290px;
height:300px;
background:#ccddaa;
}
#box4b{
width:290px;
height:300px;
background:#ccddaa;
float:right;
margin-top:-300px;
}

#rotate_outer{
position:absolute;
top:50%;
left:50%;
width:320px;
height:300px;
overflow:hidden;
margin-top:-60px;
margin-left:-190px;
background-image:url("../images/7.jpg");
}
#rotate_outer img{
position:absolute;
top:0px;
left:0px;
}


#box5{
width:900px;
height:100px;
background:ddbb12;
}


#links ul{
list-style-type:none;
}

#links ul li{
float: left;
padding:12px;
}

#links ul li a{
text-decoration:none;
font-size:20px;
color:#123456;

display:block;
}
#links ul li a:hover{
background:#123;
color:bbb;
}

#search{
}

#search1 {
float:right;
width:900px;
height:800px;
background-image:url("../images/c9.jpg");
}

#benefit1{
width:150px;
height:120px;
background:#BDE2D5;
}

#benefit1 ul{
list-style-type:none;
}
#benefit1 ul li{
float: left;
padding:12px;
}
#benefit1 ul li a{
text-decoration:none;
font-size:14px;
color:#123bbb;
background:#BDE2D5;
display:block;
}

#benefit1 ul li a:hover{
background:blue;
color:bbb;
}

#benefit2{
width:150px;
height:730px;
background-image:url("../images/m9.jpg");
}
#benefit3{
width:745px;
height:850px;
background:linear-gradient(#9AB65D,white);
margin-top:-865px;
float:right;
}
#aboutus1{
width:150px;
height:210px;
background:#12345a;
}
#aboutus1 ul{
list-style-type:none;
}

#aboutus1 ul li{
float: left;
padding:12px;
}


#aboutus1 ul li a{
text-decoration:none;
font-size:14px;
color:#123bbb;
background:#90731b;
display:block;
}

#aboutus1 ul li a:hover{
background:#123;
color:bbb;
}
#teachers{
width:900px;
height:40px;
background:#ef197c;
margin-top:-20px;
}
#Yogateachers{
width:50px;		
height:40px;
font-size:20px;
}
#teachers1{
width:900px;
height:1148px;
background:#fedcba;
margin-right:20px;
}
#teachers2{
width:180px;
height:1148px;
background-image:url("../images/teacher1.JPG");
margin-top:-1168px;
}
#teachers3{
margin-left:190px;
width:700px;
height:1148px;
background:#D6DAF8;
}

}
#training{
width:900px;
height:40px;
background:#ef197c;
margin-top:0px;
}
#training1{
width:600px;
height:300px;
background:#badef1;
margin-top:250px;
margin-left:150px;
}
#wall1{
width:100%;
height:1200px;
background:#000000;
}



#place1{
width:900px;
height:1180px;
background:#567acd;
margin:0px auto;
}
#aboutus2{
width:150px;
height:470px;
background:#12367c;
}
#aboutus3{
width:750px;
height:680px;
background:#acbd89;
margin-top:-680px;
margin-left:150px;
}
#event1{
width:900px;
height:700px;
background:black;
}

#train{
width:600px;
height:1015px;
background:linear-gradient(#12344a,white);
margin-left:10px;
}
#train1{
width:280px;
height:1015px;
background:red;
float:right;
margin-top:-1015px;
}


#business1{
width:1340px;
height:200px;
background-image:url("../images/eve copy1.jpg");
}
#business2{
width:900px;
height:700px;
background:white;
margin:0px auto;
}
#ab1{
width:900px;
height:200px;
background-image:url("../images/b4.jpg");
margin:0px auto;
}
#ab2{
width:900px;
height:700px;
background:white;
margin:0px auto;
}
#ab{
width:100%;
height:900px;
background:#dad9f5;
}
#cd1{
width:900px;
height:200px;
background-image:url("../images/b6.jpg");
margin:0px auto;
}
#cd2{
width:900px;
height:700px;
background:white;
margin:0px auto;
}
#cd{
width:100%;
height:900px;
background:#dad9f5;
}
#aboutus1{
width:870px;
height:690px;
background:linear-gradient(#5B6697,white);
margin-left:230px;
margin-top:-880px;
}
#rotate_outer1{
position:absolute;
top:50%;
left:50%;
width:320px;
height:300px;
overflow:hidden;
margin-top:260px;
margin-left:100px;
background-image:url("../images/m4.jpg");
}
#rotate_outer1 img{
position:absolute;
top:0px;
left:0px;
}
#home9{
width:900px;
height:140px;
background-image:url("../images/home8.jpg");
}